@model System.Collections.Generic.IEnumerable<Warehouse.Models.DecommLogsViewModel>

@{
    ViewBag.Title = "Сроки годности";
    Layout = "_Layout";
}

<h2>Товары с выходящим сроком реализации</h2>

<table>
    <thead>
    <tr>
        <th>Наименование товара</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var log in Model)
    {
        <tr>
            <td>@log.GoodsName</td>
            <td>@log.Price</td>
        </tr>
    }
    </tbody>
</table>