@model Warehouse.Models.DimensionViewModel

@{
    ViewBag.Title = "Изменить ед. измер";
    Layout = "_Layout";
}

<style>
    label {
        width: 50%
    }

    div {
        border-bottom: 1px solid black;
    }
</style>

<h2>Изменить ед. измер</h2>

<span style="color: red">@ViewBag.Error</span>

@using (Html.BeginForm("Edit", "Dimension", FormMethod.Post, new {id = Model.Id}))
{
    <div>
        <label for="Name">Имя</label>
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
}