@model GoodsCategoryViewModel

@{
    ViewBag.Title = "Edit Goods Category";
    Layout = "_Layout";
}

<h2>Edit Goods Category</h2>

<span style="color: red">@ViewBag.Error</span>

@using (Html.BeginForm("Edit", "GoodsCategory", FormMethod.Post, new { id = Model.Id }))
{
<table>
    <thead>
    <tr>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Html.TextBoxFor(m=>m.Name)
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit">Сохранить</button>
        </td>
    </tr>
    </tbody>
</table>
}
