@model System.Collections.Generic.IEnumerable<Warehouse.Models.GoodsCategoryViewModel>

@{
    ViewBag.Title = "List od Goods Categories";
    Layout = "_Layout";
}

<h2>List od Goods Categories</h2>

<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>
                <button onclick="Edit(@category.Id)">Переименовать</button>
            </td>
        </tr>
    }
    </tbody>
</table>
<script>
    function Edit(id) {
        window.location.href = '@Url.Action("Edit", "GoodsCategory")/' + id;
    }
</script>